* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    color: #222222;
}
h2 {
    color: #222;
    text-align: center;
    font-size: 2em;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

h4 {
    font-size: 16px;
}

img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}



video {
    /*border-radius: 5px;*/
    max-width: 100%;
    vertical-align: middle;
}

.container-fluid {
    width: 100%;
    max-width: 900px;


    margin-bottom: 1.5em;
}

.project {
    padding: 0.5em 0.5em;
    background-color: #BBD9E9;
    border-radius: 2px;
    margin-bottom: 1em;
    
   -moz-box-shadow: inset 0px 2px 2px rgba(255, 255, 255, .1), inset -0px -2px 2px rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0px 2px 2px rgba(255, 255, 255, .1), inset 0px -2px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 2px 2px rgba(255, 255, 255, .1), inset 0px -2px 2px rgba(0, 0, 0, .1);

}
.description {
    float: left;
    display:inline-block;
    width: 70%;
    vertical-align: top;
}

.preview {
    float:right;
    display:inline-block;
    width: 30%;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

/*original styling*/

#project-icon-list {
    display: inline-block;
    width: 100%;
}

.project-icon {

    float: left;
    position: relative;
    text-align: center;
    cursor: default;
    border-radius: 3px;
    border: 2px solid black;

}



.project-icon:before {
		display: block;
		content: ' ';
		padding-top: 100%;
	}
@media (min-width: 720px) {
    
    .project-icon {
        width: 28.33%;
        margin: 2.5%;        
    }
}
@media (max-width: 720px) {
    .project-icon {
        width: 45%;
        margin: 2.5%;
        
    }
}
@media (max-width: 400px) {
    .project-icon {
        width: 100%;
        margin-bottom: 5%;
    }
}

.project-icon p {
    font-size: 14px;
    padding: 0 5px;
    margin: 0;
}

.project-icon .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.35s;
    filter: alpha(opacity=0);

    text-align: left;
    border-radius: 6px;
}
/* image */

.project-icon img {
    position: absolute;
    max-width: none;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.2s;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.project-icon .row {
    position: absolute;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;

    color: #111;
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);

}
.project-icon .row * {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;

    webkit-transition-delay: 0.20s;
    /* Safari */
    
    transition-delay: 0.1s;
}


.project-icon:hover img {
    opacity: 0;
    filter: alpha(opacity=0);

}
.project-icon:hover .overlay {
    opacity: .9;
    filter: alpha(opacity=90);
}

.badge {
    color: #777;
    background-color: aliceblue;
    opacity: 0.5;
}

.project-icon:hover .overlay:before,
.project-icon:hover .row,
.project-icon:hover .row * {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}

#header {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#profile {
    padding: 1em;
}

#profile img {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid black;
}

#intro {
    text-align: center;
    font-size: 1.2em;
}