* {
    box-sizing: border-box;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    line-height: 1.5;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 18px;
    color: #222222;
}
h2 {
    color: #222;
    text-align: center;
    font-size: 2em;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

h4, .badge {

    font-family: "Courier New", Courier, monospace;
}

video {
    width: 100%;
    padding-top: 1em;
    border: 1px solid black;
    border-radius: 3px;
}

.container-fluid {
    width: 100%;
    max-width: 900px;
    margin-bottom: 1.5em;
}

.description {
    float: left;
    display:inline-block;
    width: 70%;
    vertical-align: top;
}

.preview {
    float:right;
    display:inline-block;
    width: 30%;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

/*original styling*/

#project-icon-list {
    display: inline-block;
    width: 100%;
}

.project-icon {
    float: left;
    position: relative;
    text-align: center;
    cursor: default;
    border-radius: 3px;
    border: 2px solid black;

}



.project-icon:before {
		display: block;
		content: ' ';
		padding-top: 100%;
	}
@media (min-width: 720px) {
    
    .project-icon {
        width: 28.33%;
        margin: 2.5%;        
    }

}
@media (max-width: 720px) {
    .project-icon {
        width: 45%;
        margin: 2.5%;
    }

}
@media (max-width: 400px) {
    .project-icon {
        width: 100%;
        margin-bottom: 5%;
    }

}

.project-icon p {
    font-size: 14px;
    padding: 0 5px;
    margin: 0;
}

.project-icon .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.35s;
    filter: alpha(opacity=0);
    text-align: left;
    border-radius: 6px;    
    

}
/* image */

.project-icon img {
    position: absolute;
    max-width: none;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.2s;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}
.project-icon .row {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    color: #111;
    text-align: center;
    opacity: 0;
    filter: alpha(opacity=0);

}
.project-icon .row * {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
    transition: opacity 0.35s, transform 0.45s;
    -webkit-transition-delay: 0.20s;
    transition-delay: 0.2s;
}


.project-icon:hover img {
    opacity: 0;
    filter: alpha(opacity=0);

}
.project-icon:hover .overlay {
    opacity: .9;
    filter: alpha(opacity=90);
}

.badge {
    color: #777;
    background-color: aliceblue;
    opacity: 0.5;
}

.btn-default {
    border-radius: 3px;
    border: 1px solid black;
    margin-top: 0.1em;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
}

.btn-default:hover {
    background-color: #F5F5F5;
    border: 1px solid black;
}


.modal-header, .modal-footer {
    border: 0;
}

.modal-content {
    border: 2px solid black;
    border-radius: 3px;
}

.project-icon:hover .overlay:before,
.project-icon:hover .row,
.project-icon:hover .row * {
    opacity: 1;
    filter: alpha(opacity=100);

}

#header {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#profile {
    padding: 1em;
}

#profile img {
    width: 100%;
    max-width: 300px;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid black;
}

#intro {
    text-align: center;
    font-size: 1.2em;
}

#resume {
    font-size: 1.2em;
    font-weight: bold;
    border: 2px solid black;
}